@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-color:antiquewhite;
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0; 
  padding: 0;}

#page {
  background-color:darksalmon;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;}
  

#tabs {
   text-align: left;
   
    
}


#page2 {
    background-color: burlywood;
    
}

#page3 {
position: relative;
    background-color: snow;
}


h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  margin: 0 0 23px 0;}

h2 span {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  top: -5px;
  height: 22px;
  width: 26px;
  padding: 4px 0 0 0;}

ul {
  border:none;
  padding: 0;
  margin: 0;}

li {
}

li a {
  color: #fff;
}

li.complete a {
  background-image: none;}



.funny {
    color: aqua;
  }

.classic {
   
  }

.cute {
    color: brown;
}





form {
  padding: 0 20px 20px 20px;}

label {
  color: #fff;
  display: block;
  margin: 10px 0 10px 0;
  font-size: 24px;}

input[type='text'], input[type='password'], input[type='number'], textarea {
  background-color:beige;
  color: #333;
  font-size: 24px;
  width: 96%;
  padding: 4px 6px;
  border: 1px solid #999;
  border-radius: 8px;}

input[type='submit'], a.add, button, a.show {
  background-color: crimson;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  font-family: 'Oswald', 'Futura', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;}

input[type='submit'], a.add, button {
  float: center;} 

input[type='text']:focus, input[type='password']:focus, input[type='number']:focus, textarea:focus {
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;}



.dropbtn {
    background-color:darkred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}





  #page {
    max-width: 480px;
  }

.header {
  padding: 45px 0;
  background: #333 url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY5XN1a4NlephKlpe08RtaM6aBJ0uxTBhHRCAcXRbWt0uNedmOFA) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
    
}






.lightboxgallery-gallery {
  display: block;
  margin: 60px -10px;
}
.lightboxgallery-gallery-item {
  cursor: zoom-in;
  display: block;
  float: left;
  width: 25%;
}

@media only screen and (max-width : 767px) {
  .lightboxgallery-gallery-item {
    width: 33.3333%;
  }
}

@media only screen and (max-width : 479px) {
  .lightboxgallery-gallery-item {
    width: 50%;
  }
}

.lightboxgallery-gallery-item img {
  width: 100%;
}

.lightboxgallery-gallery-item > div {
  position: relative;
  margin: 10px;
}

.lightboxgallery-gallery-item > div:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.lightboxgallery-gallery-item:hover > div:after {
  opacity: 1;
}

.lightboxgallery-gallery-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
  opacity: 1;
}

.lightboxgallery-gallery-item-title {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
}
